node_modules/
npm-debug.log*
.env
.env.local
.env.*.local
*.log
.DS_Store
/tmp/
/reports/*.pdf
/reports/*.json
.cache/
.upm/
.config/
.breakpoints
.local/
package-lock.json
yarn.lock
*.ogg
*.mp4
*.wav
